@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #382bf0;
    --color-primary-200: #5e43f3;
    --color-primary-300: #7a5af5;
    --color-primary-400: #9171f8;
    --color-primary-500: #a688fa;
    --color-primary-600: #ba9ffb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #211938;
    --color-surface-mixed-200: #372e4c;
    --color-surface-mixed-300: #4d4560;
    --color-surface-mixed-400: #645d75;
    --color-surface-mixed-500: #7c758b;
    --color-surface-mixed-600: #958fa1;
}
